.voteImage {
  height: 45vh;
  width: 20vw;
  padding: 50px;
  margin-left: 10px;
}

.image1:hover {
  cursor: pointer;
}
.image2:hover {
  cursor: pointer;
}

body {
  font-family: "Chicle", cursive;
  background: linear-gradient(rgb(228, 137, 221), transparent),
    linear-gradient(to top left, rgb(244, 242, 211), transparent),
    linear-gradient(to top right, rgb(83, 219, 237), transparent);
  background-blend-mode: screen;
}
.breedname-txt {
  text-align: center;
  font-size: x-large;
}
/* Leaderboard */
.podium {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 10vw 10vw 10vw;
}

img {
  height: 30vh;
  width: 15vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30%;
}

.first {
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
  text-align: center;
  transform: translate(0, -50%);
}

.second {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  text-align: center;
}

.third {
  grid-column: 3 / span 2;
  grid-row: 2 / span 1;
  text-align: center;
}

.medals {
  font-size: 50px;
}
.table {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dogPage {
  display: flex;
  justify-content: center;
}

.wholePage {
  text-align: center;
  font-family: "Chicle", cursive;
}

/* CSS */
.button-53 {
  background-color: #3dd1e7;
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: "Chicle", cursive;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-53:focus {
  outline: 0;
}

.button-53:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-53:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .button-53 {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
  }
}

table,
th,
tr,
td {
  border: black solid 1px;
  border-collapse: collapse;
  margin-bottom: 20px;
}
table {
  height: 300px;
  width: 300px;
}

.leaderboardTitle {
  font-size: 50px;
  margin-bottom: 20px;
}

.leaderboardPage {
  display: grid;
  grid-template-columns: auto auto;
}

.section1 {
  grid-column: 1;
  margin-top: 10px;
}
.section2 {
  grid-column: 2;
}

.button-53-leaderboard {
  background-color: #3dd1e7;
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: "Chicle", cursive;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: auto auto auto auto;
  transform: scale(0.6);
}

.button-53-leaderboard:focus {
  outline: 0;
}

.button-53-leaderboard:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-53-leaderboard:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .button-53-leaderboard {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
  }
}

.dogCard {
  background-color: #c1f1f7;
  border: solid black 1px;
  box-shadow: 5px 5px 5px rgb(9, 9, 9);
  width: 500px;
  height: 500px;
  border-radius: 10px;
  justify-content: center;
  margin: 10px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.dogCard:hover,
.dogCard:focus,
.dogCard:active {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
  cursor: pointer;
  border: solid black 1px;
  box-shadow: 5px 5px 5px #3dd1e7;
  width: 500px;
  height: 500px;
  justify-content: center;
  margin: 10px;
  border-radius: 10px;
}
