.voteImage {
  height: 45vh;
  width: 20vw;
  padding: 50px;
  margin-left: 10px;
}

.image1:hover{
cursor:pointer
}
.image2:hover{
cursor:pointer

}

body{
  font-family: 'Chicle', cursive;
}
.breedname-txt{
  text-align:center;
  font-size: x-large;
}
/* Leaderboard */
.podium {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto;
}

img{
  height: 45vh;
  width: 20vw;
  margin-left: auto;
  margin-right: auto;
}

.first{
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
  text-align: center;

}


.second{
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  text-align: center;

}

.third{
  grid-column: 3 / span 2;
  grid-row: 2 / span 1 ;
  text-align: center;
}

.medals{
  font-size: 50px;
}
.table{
  display:flex;
  justify-content:center;
  align-items: center;
}

.dogCard {
  border: solid black 1px;
  box-shadow: 5px 5px 5px #999;
  width: 500px;
  height: 500px;
  justify-content: center;
  margin: 10px
}

.dogPage {
  display: flex;
  justify-content: center;
}

.wholePage {
  text-align: center;
  font-family: 'Chicle', cursive;
}


/* CSS */
.button-53 {
  background-color: #3DD1E7;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: 'Chicle', cursive;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation
}

.button-53:focus {
  outline: 0;
}

.button-53:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-53:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .button-53 {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}